// This is the back of the pokeDexContainer

//Back where screen/interactive buttons are at
// 4 Buttons @ top Left
div.backCoverBox {
  width: inherit;
  height: inherit;
  background-color: $color-red;
}

//Inside pokeDexContainer

div.mainPokeDex {
  // padding-right: 2em;
  width: auto;
  height: 55em;
  margin: 11em 0em 0em;
}

div#spriteScreen {
  background-color: lightblue;
  width: 42em;
  height: 42em;
  text-align: center;
  margin: 1em auto 2em;
}

div.weightType {
  //@
  width: 30em;
  height: 10em;
  background-color: grey;
  display: inline-block;
  margin: 1em 2em;
  //@
}

div.fourDirectional {
//@
position: absolute;
z-index: -600;
clip-path: polygon(0% 30%, 30% 30%, 30% 0%, 70% 0%, 70% 30%, 100% 30%, 100% 70%, 70% 70%, 70% 100%, 30% 100%, 30% 70%, 0% 70%);
width: 8em;
height: 8em;
background-color: grey;
display: inline-block;
/* margin-bottom: 2em; */
/* margin-left: 1em; */
// position: absolute;
// z-index: 100;
//@

}

div.fourDirectional.flipped{
  z-index: 0;
  right: 1em;
  margin: 2em;
}

//PokeDex Spine Style
div.mainPokeDex > div.pDSpine {
  display: inline-grid;
  width: 1em;
  height: inherit;
  float: right;
  list-style-type: none;
}

div.mainPokeDex >  div.pDSpine> span {
  border: 1px solid black;
}

