// Begin pokeDexFront and frontOutLine Div
div#pDFrontContainer {
  z-index: 5;
  height: 36em;
  position: absolute;
  width: inherit;
  top: 6em;
  
}

div#pokeDexFront {
  width: inherit;
  height: 39em;
  bottom: 1rem;
  top:-2.5em;
  position: absolute;
  /* transform: translateX(26.5rem); */
  background-color: #cd1c1c;
  clip-path: polygon(62% 0, 100% 0, 100% 100%, 0 100%, 0 13%, 53% 13%);
}

div#pDFrontOutline {
  width: inherit;
  height: 40em;
  top: -3em;
  position: absolute;
  /* transform: translateX(26.5rem); */
  background-color: #000;
  clip-path: polygon(62% 0, 100% 0, 100% 100%, 0 100%, 0 13%, 53% 13%);
}

//triangle inside PokeDex cover
div.rightTriangle {
  width: 0;
  height: 0;
  border-top: 1em solid transparent;
  border-left: 2em solid #555;
  border-bottom: 1em solid transparent;
  position: absolute;
  transform: translate(1em, 15em);
}

//PokeDex Spine Style
ul.pDSpine {
  display: inline-grid;
  width: 1em;
  height: inherit;
  float: right;
  list-style-type: none;
}

ul.pDSpine>li {
  border: 1px solid black;
}

// li.spine1 {}

// li.spine2 {}

// li.spine3 {}

// End pokeDexFront and frontOutLine Div


