//inner cover for pokeDex
div.pdInnerCover {
  background-color: #cd1c1c;
  display: inline-block;
  width: 31em;
  height: 39em;
  vertical-align: bottom;
  margin-bottom: 1em;
  clip-path: polygon(44% 0, 53% 11%, 100% 11%, 100% 100%, 0 100%, 0 0);
}

div.textBox {
  width: 25em;
  height: 15em;
  background-color: grey;
  display: inline-block;
  margin: 7em 0em 2em;
}

ul.gridBtnCont {
  width: 24em;
  height: 3em;
  display: inline-block;
  list-style-type: none;
}

li.gridBtn {
  width: 5em;
  height: 2em;
  display: inline-flex;
}

div.bottomBtn {
  display: inline-block;
}

ul.twoBtn {
  display: inline-block;
}

ul.twoBtn > li.circle.btn.yellow {
  display: inline-flex;
  margin: .5em 1em 0em 2em;
  font-size: 2em;
}

ul.twoBtn.grey {
  margin-top: 1em;
}




