// header#mainNav{
//   // display: inline-flex;
// }

#PoGo-Dex-title {
  text-align: center;
  padding-right: 1em; 
}

ul.navBarBox{
  display: inline-flex;
}

li.navBtn {
      list-style: none;
      margin: auto;
      padding: 0em .5em;
}